{% extends 'base.html.twig' %}

{% block body %}
<div class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <div class="card shadow-lg border-0">
                    <div class="card-body p-4">
                        {% block auth_content %}{% endblock %}
                    </div>
                </div>
                
                {% block auth_footer %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border-radius: 1rem;
    }
    .card-body {
        padding: 2.5rem !important;
    }
    @media (max-width: 576px) {
        .card-body {
            padding: 1.5rem !important;
        }
    }
</style>
{% endblock %}

